<!DOCTYPE html>
<html lang="en" ng-app='reddit' ng-cloak>
    <head>
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta charset="utf-8">
        <title>Reddit Clone</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <script type="text/javascript" src='script.js'></script>
    </head>
    <body ng-controller="MainController">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Reddit Clone</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a ng-click='showAdd()'>
                                + Submit Post</a>
                        </li>
                    </ul>
                    <select class="select-location" ng-model='sort'>
                        <option value=''>Sort By</option>
                        <option value='date'>Date</option>
                        <option value='votes'>Votes</option>
                        <option value='title'>Title</option>
                    </select>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" ng-model='searchKeyword'>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
            <div ng-show='add'>
                <form role='form' name='userPosts' ng-submit='submitPost()' novalidate>
                    <h1>Add a new post</h1>
                    <label>Title</label>
                    <input type="text" name="title" ng-model='view.title' class='form-control' required>
                    <div class="error" ng-show="userPosts.title.$dirty && userPosts.title.$invalid">
                        <small class="error" ng-show="userPosts.title.$error.required">
                            A title for is required.
                        </small>
                    </div>
                    <label>Your name</label>
                    <input type="text" name="author" ng-model='view.author' class='form-control' required>
                    <div class="error" ng-show="userPosts.author.$dirty && userPosts.author.$invalid">
                        <small class="error" ng-show="userPosts.author.$error.required">
                            Your name is required.
                        </small>
                    </div>
                    <label>Image URL</label>
                    <input type="text" name="imgurl" ng-model='view.imgurl' class='form-control' required>
                    <div class="error" ng-show="userPosts.imgurl.$dirty && userPosts.imgurl.$invalid">
                        <small class="error" ng-show="userPosts.imgurl.$error.required">
                            An image URL is required.
                        </small>
                    </div>
                    <label>Description</label>
                    <input type="text" name="description" ng-model='view.description' class='form-control' required>
                    <div class="error" ng-show="userPosts.description.$dirty && userPosts.description.$invalid">
                        <small class="error" ng-show="userPosts.description.$error.required">
                            Please enter a description
                        </small>
                    </div>
                    <input ng-show="userPosts.$valid" type="submit" value="Submit your post" class='btn btn-success'>
                </form>
            </div>
        </nav>
        <div class="userPosts well" ng-repeat='post in posts | filter: searchKeyword | orderBy: sort'>
            <img class='postImage' src="{{post.imgurl}}" alt="You'll have to see this place in person!"/>
            <h2>{{post.title}}
                |
                <img class='arrow' ng-click='post.votes=post.votes+1' src="arrows.png" alt="UpVote"/>
                <img class='arrow' ng-click='post.votes=post.votes-1' src="arrows-1.png" alt="DownVote"/>
                <span ng-class="post.votes >= 0 ? 'green' : 'red'">{{post.votes}}</span></h2>
            <h5>By {{post.author}}</h5>
            <h4>{{post.description}}</h4>
            <p class='date'>
                {{post.date | amCalendar}}
            </p>
            <p ng-click='showComments()'>
                <ng-pluralize count="{{post.comments.length}}" when="{'0': '{} Comments',
                     'one': '1 Comment',
                     'other': '{} Comments'}"></ng-pluralize>
            </p>
            <div class="comments" ng-show='comments' ng-repeat='comment in post.comments'>
                {{comment.commentAuthor}}
                says
                {{comment.thoughts}}
            </div>
            <p ng-click='showCommentForm()'>Add Comment</p>
            <div name='commentForm' ng-show='commentForm'>
                <form ng-submit="submitComment(post)">
                    <label>Author</label>
                    <input type="text" name="commentAuthor" ng-model='commentText.commentAuthor' placeholder="Your name">
                    <label>Your thoughts</label>
                    <input type="text" name="thoughts" ng-model='commentText.thoughts'>
                    <input type="submit" value="Add Comment" class='btn btn-success'>
                </form>
            </div>
        </div>
    </body>
</html>
