body {
  font-family: 'Raleway', sans-serif;
}
.postImage {
  width: 250px;
  height: 250px;
  margin-top: 10px;
}
input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}
.well {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 40vh;
  margin-left: 75px;
}
.red {
  color: red;
}
.green {
  color: green;
}
article {
  width: 45vw;
  font-size: 14px;
}
