body {
  font-family: 'Raleway', sans-serif;
}
.row {
  padding-left: 325px;
}
.postImage {
  width: 250px;
  height: 250px;
  float: left;
  margin-left: 50px;
}
input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}
.red {
  color: red;
}
.green {
  color: green;
}
.well {
  font-size: 1.5em;
}
.title {
  font-size: 1.8em;
}
article {
  font-size: .5em;
}
.commentsShowing {
  font-size: .8em;
}
.newComment {
  margin-top: 25px;
  font-size: .8em;
}
.thoughts {
  width: 250px;
  height: 90px;
}
.arrowup:hover {
    border: solid 2px green;
    border-radius: 50%;
}
.arrowdown:hover {
    border: solid 2px red;
    border-radius: 50%;
}
.commentShow:hover {
  color: purple;
}
.commentAdd:hover {
  color: purple;
}
.dateShow:hover {
  color: purple;
}
.sortBy {
  width: 150px;
  height: 50px;
}
/*animations*/
.ng-enter {
  transition:0.3s ease all;
  opacity:0;
}
.ng-enter.ng-enter-active {
  opacity:1;
}
.ng-leave {
  transition:0.4s ease all;
  opacity:1;
}
.ng-leave.ng-leave-active {
  opacity:0;
}
.ng-hide-add {
  transition:0.5s ease all;
  opacity:1;
}
.ng-hide {
  transition:0.5s ease all;
  opacity:0;
}
.ng-hide-add-active {
  opacity: 1;
}
.ng-hide-remove-active {
  opacity: 0;
}
